<main class="account-page">
    <h1>
        <%= title %>
    </h1>

    <% messages() %>

        <form action="/account/login" method="POST" id="account-form">
            <label for="email">Email Address:
                <input type="email" id="email" name="account_email" required
                    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                    title="Please enter your best email address.">
            </label>

            <label for="password">Password:
                <input type="password" id="password" name="account_password" required
                    pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                    title="Password must be at least 8 characters long and contain at least one letter and one number.">
            </label>

            <br>

            <button type="submit">Login</button>
        </form>
        <p>
            Don't have an account?
            <a href="/account/register">Sign-up</a>
        </p>
</main>