<section id="action">

    <h1>Welcome to CSE Motors!</h1>

    <figure>
        <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
        <figcaption>
            <h3>DMC Delorean</h3>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <button>Own Today</button>
        </figcaption>
    </figure>
</section>


<section>
    <h2>DMC Delorean Reviews</h2>

    <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's living and I love it!" (5/5)</li>
    </ul>
</section>

<section id="upgrades">
    <h2>Delorean Upgrades</h2>

    <ul>
        <li>
            <figure>
                <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <figcaption>Flux Capacitor</figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                <figcaption>Flame Decals</figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/images/upgrades/bumper-sticker.jpg" alt="Bumper Stickers">
                <figcaption>Bumper Stickers</figcaption>
            </figure>
        </li>
        <li>
            <figure>
                <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                <figcaption>Hub Caps</figcaption>
            </figure>
        </li>
    </ul>
</section>