<main>
    <!-- uses a EJS code block to contain a JavaScript if structure to determine if a "title" variable exists. -->
    <% if (title) { %>
        <h1><%= title %></h1><!-- if the variable exists, it is displayed within an <h1> element. -->
    <% } else {  <!-- ends the if structure and begins an else structure. -->
        res.redirect('/') <!-- redirects the response object to the default index route, to deliver the home view. -->
    } %>
            
    <%# messages() %>
    
    <%- grid %>
</main>